html {
  margin: 0;
}

body {
  margin: 0;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 150px repeat(5, 100px);
  gap: 10px;
  border: 10px solid black;
}

button {
  cursor: pointer;
}

.display {
  grid-column: span 4;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #fef1dc;
  font-size: 64px;
  padding: 0px 10px;
}

#zero {
  grid-column: span 2;
}
